.services-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.services-sub-container{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}