body{
    margin: 0;
}


.admin-layout-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.admin-layout-top-nav-container{
    display: flex;
}

.admin-layout-main-container{
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
}

.admin-layout-menu-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
}

.admin-layout-content-container{
    display: flex;
    flex-direction: column;
    flex: 6;
    align-self: stretch;
}
