body > #root > div {
    height: 100vh;
    margin: 0;
  }

.web-layout-container{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: brown;
}

.web-layout-top-nav-container{
    display: flex;
}

.web-layout-content{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: blue;
}