.plans-container{
    width: 80%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    align-content: center;
}

.plans-search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-content: flex-start;
    padding: 10px 0px;
}

.plans-table-container{
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.plans-table-header-container{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.plan-table-title{
    display: flex;
    justify-content: center;
    border: 1px solid;
    width: 100%;
    flex: 1;
}

.plans-table-row{
    display: flex;
    flex-direction: row;
    
}

.plan-row{
    display: flex;
    flex: 1;
    
    justify-content: center;
    border: 1px solid;
}
#deleteButton{
    margin-left: 5px;
}

//NEW
.new-plan-form-container{
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}