.welcome-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    min-height: 100vh;
    
}

.welcome-container::before{
    content:"";
    background-image: url('../imgs/mailboxhouse.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.5;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:auto;
    height:auto;
    z-index:-3;
  }
.welcome-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
}

.font-black{
    color: black;
}

.title{
    font-family: 'Lato';
    font-size: 28pt;
}

.subTitle{
    font-family: 'Lato';
    font-size: 14pt;
}