.plan-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: rgba($color: #cfccccc2, $alpha: 1);
}

.plan-container:hover{
    background-color: rgba($color: #cfccccec, $alpha: .5);
}

.plan-title{
    display: flex;
    border: 1px solid black;
    align-self: stretch;
}