.web-toolbar-container{
  display: flex;  
  justify-content: space-between;
}

.web-toolbar-menu-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link-white{
    color: whitesmoke;
    text-decoration:none;
}