.credit-card-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

.credit-card-form-row{
    display: flex;
    padding: 10px 0px;
    align-self: stretch;
}

.cc-field-padding {
    padding-left: 10px;
}