body > #root > div {
    height: 100vh;
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

}

.form-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
	align-items: center;
}

.form-row-container{
    display: flex;
    width: 40%;
    flex: 1;
    justify-content: center;
    padding: 15px 25px;
}

.text-start{
    justify-content: flex-start;
    padding: 0;
}